/common/target
/hexie/target
/hexiebk/target
/common/.settings
.classpath
.project
/hexie/.settings
/hexiebk/logs
/hexiebk/.settings
/hexiebk/.classpath
/hexiebk/.project
/hexie/bin
/hexie/logs
/common/logs/*.log
/.settings/*.prefs
/hexie/common/.settings/*.prefs
/hexie/common/logs/*.log
/hexie/.idea
*.iml
