/common/target
/hexie/target
/hexiebk/target
/common/.settings
.classpath
.project
/hexie/.settings
/hexiebk/logs
/hexiebk/.settings
/hexiebk/.classpath
/hexiebk/.project
/hexie/bin
/hexie/logs
/common/logs/*.log
/.settings/*.prefs
/hexie/common/.settings/*.prefs
/hexie/common/logs/*.log
/common/.gitignore
/hexie-config/.settings/*.prefs
/hexie-eureka/.settings/*.prefs
/hexie-config/logs/config-server/*.log
/hexie/src/main/resources/a.properties.bak
