#my_form{
    margin:0;
    padding:10px 30px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
}
.fitem label{
    display:inline-block;
    width:80px;
}
.fitem input{
    width:400px;
}
.fitem input[type="radio"]{
    width:10px;
}
#queryForm td{
font-size: 12px;
}
#queryForm select{
width: 145px;
}

.icon-base{
	background:url('images/basic.png') no-repeat;
}
.icon-layout{
	background:url('images/layout.png') no-repeat;
}
.icon-menu{
	background:url('images/menu.png') no-repeat;
}
.icon-form{
	background:url('images/form.png') no-repeat;
}
.icon-window{
	background:url('images/window.png') no-repeat;
}
.icon-datagrid{
	background:url('images/grid.png') no-repeat;
}
.icon-gears{
	background:url('images/gears.png') no-repeat;
}
